
<div class="m-5">
  <h2 class="mb-4 text-2xl font-bold">Todos</h2>
  <button (click)="showForm = !showForm" class="p-2 flex items-center justify-between border">
    <svg lucidePlus class="w-5 h-5"></svg>
    Add
  </button>
  @if (showForm) {
    <form class="mt-2 p-2 w-full max-w-lg border flex items-center justify-between" (ngSubmit)="onSubmit()">
      <input class="flex-1 rounded border px-3 py-2" type="text"
             placeholder="Add a new task to list" [formField]="taskForm.name">
      <button type="submit"
        class="ml-2 rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"
              >
        Add
      </button>
    </form>
  }
  <div class="mt-2 w-full max-w-lg">
    @for (task of todos(); track task.id) {
      <div class="mb-2 flex items-center justify-between rounded border p-3">
        {{ task.name }}
        <button (click)="deleteTask(task.id)">
          <svg lucideTrash class="w-4 h-4 bg"></svg>
        </button>
      </div>
    }
  </div>
</div>
